.container {
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: stretch;
    min-width: 1024px;
}

.container__header {
    flex: 0 0 auto;
}

.container__main {
    flex: 1 1 0;
}

.messages-list-body_item:hover .delbutton {
    opacity: 1;
}